<script setup lang="ts">
import { ref } from  "vue";
const message = ref("Hello World!");
const isBlue = ref(true);
const color = ref("brown");
function toggleBlue(){
    isBlue.value = !isBlue.value;
}
function toggleColor() {
    color.value = color.value === "brown" ? "green" : "brown"; 
}
</script>

<template>
    <p>
        <span v-bind:title = "message">
            {{ message }}
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </p>

    <p :class="{ blue : isBlue }" @click = "toggleBlue">
        <span>
            This should be blue ... but clickme to toggle it.
        </span>
    </p>

    <p :style="{ color }" @click = toggleColor>
        <span>
            This should be brown, and should toggle between brown and green on click.
        </span>
    </p>
</template>

<style scoped>
.blue{
    color:blue;
}
</style>