<script setup lang="ts">
import {ref} from "vue";
const text = ref("Edit me");
const checked =ref(true);
const checkedNames = ref(["Jack"])
const picked = ref("one")
const selected = ref("A")
const multiSelected = ref(["1"])
</script>

<template>
    <h2>Text Input</h2>
    <input v-model="text"> {{ text }}

    <h2>Checkbox</h2>
    <input type="checkbox" v-model="checked" id="checkbox">
    <label for="checkbox">Checked: {{ checked }}</label>

    <h2>Multiple Checkbox</h2>
    <input type="checkbox" v-model="checkedNames" id="jack" value="Jack">
    <label for="jack">Jack</label>
    <br />
    <input type="checkbox" v-model="checkedNames" id="john" value="John">
    <label for="john">John</label>
    <br />
    <input type="checkbox" v-model="checkedNames" id="mike" value="Mike">
    <label for="mike">Mike</label>
    <p>checked names</p>
    <pre>{{ checkedNames }}</pre>

    <h2>Radio</h2>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br />
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">two</label>
    <br />
    <span>Picked: {{ picked }}</span>

    <h2>Select</h2>
    <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>  Selected : {{ selected }}</span>

    <h2>Multiple Select</h2>
    <select v-model="multiSelected" multiple style="width: 100px">
        <option disabled value="">Please select one</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>  Selected : {{ multiSelected }}</span>
</template>

<style scoped>

</style>