<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router';
import HelloWorld from './components/HelloWorld.vue';
import CalComponent from './components/CalComponent.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandlingUserInput from './components/HandlingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionAndLoop from './components/ConditionAndLoop.vue';
import FormBinding from './components/FormBinding.vue';
import SImpleComponent from './components/SImpleComponent.vue';
</script>

<template>
<div>
  <SImpleComponent />
  <br />
  <br />
  <FormBinding />
  <br />
  <br />
  <ConditionAndLoop />
  <br />
  <br />
  <AttributeBindings />
  <HandlingUserInput />
  <CalComponent />
  <HelloWorldExample />
</div>
</template>

<style scoped>
</style>
